{% from "macros/_interest.html" import interested_counter, interested_check with context %}

{% macro proposals_list_item(proposal) %}
<div class="list-group-item">
	<p>{{ interested_check(proposal) }}</p>
	<h4><a href="{{url_for('proposals.detail', id=proposal.id)}}">{{proposal.title}}</a></h4>
	<p>{{proposal.description}}</p>
</div>
{% endmacro %}


{% macro proposals_list(proposals) %}
<div class="list-group">
	{% for proposal in proposals %}
		{{ proposals_list_item(proposal) }}
	{% endfor %}
</div>
{% endmacro %}


{% macro list_users(users) %}
<ul>
	{% for user in users %}
		<li>{{ user.display_name }}</li>
	{% endfor %}
</ul>
{% endmacro %}


{% macro show_stage(proposal) %}
	{% set d=proposal.current_stage.pretty_date %}
	{% if proposal.stage.value==LIFE_ORIGIN %}
		{% trans d %}
			Proposed {{ d }}.
		{% endtrans %}
	{% elif proposal.stage.value==LIFE_PLANNING %}
		{% trans d %}
			Planning began {{ d }} to make this into a class.
		{% endtrans %}
	{% elif proposal.stage.value==LIFE_CLASS %}
		{% trans d %}
			Class in progress since {{ d }}.
		{% endtrans %}
	{% elif proposal.stage.value==LIFE_FINISHED %}
		{% trans d %}
			Class finished {{ d }}.
		{% endtrans %}
	{% endif %}
{% endmacro %}