{% from "macros/_interest.html" import interested_counter with context %}
{% from "discussion/_macros.html" import discussions_list %}
{% from "proposal/_macros.html" import show_stage, list_users with context %}
{% from "school/_macros.html" import list_schools %}

{% set page_title = proposal.title %}

{% extends "layouts/base.html" %}


{# add extra body classes #}
{% block body_classes %}proposal{% endblock %}


{# setting variables for permissions #}
{% set can_edit = can_edit_proposal(proposal) %}
{% set can_organize = can_organize_proposal(proposal) %}

{# secondary navigation #}
{% block secondary %}
<!--<ul class="nav nav-pills row second-nav-margin-fix" id="secondary">
	<li role="presentation" class="active">
		<a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a>
	</li>
	<li role="presentation">
		<a href="#discussions" aria-controls="discussions" role="tab" data-toggle="tab">Comments</a>
	</li>
</ul>-->
{% endblock %}

{# main body class #}
{% block body %}

<div class="alert alert-danger proposal-detail-alert hide">
    <a class="alert-close close pull-right" title="Close">&times;</a>
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    An error occured. Please contact the site administrator.
</div>

<div class="alert alert-warning proposal-detail-alert hide">
    <a class="alert-close close pull-right" title="Close">&times;</a>
    <span class="glyphicon glyphicon-warning-sign"></span>
    You have been removed from the list of interested users.
</div>

<div class="alert alert-success proposal-detail-alert hide">
    <a class="alert-close close pull-right" title="Close">&times;</a>
    <span class="glyphicon glyphicon-ok"></span>
    You have been added to the list of interested users.
</div>

<div id="anon-email-success-alert" class="alert alert-success hide"></div>



<div id="proposal-detail-div" class="col-md-6" data-user-unknown="{{ current_user.is_anonymous() }}">
    <div>
        <h2>{{ proposal.title }}</h2>

        {#{ interested_counter(proposal) }#}


        <div id="interested-toggle" class="btn-group interested-status" data-toggle="buttons" style="margin-bottom: 10px;" obj-id="{{ proposal.id }}" obj-type="proposal">
            {% if proposal.user_is_interested(current_user) %}
            <label class="btn btn-default active add">
                <input class="btn-default" type="radio" value="1" /> I am interested
            </label>
            <label class="btn btn-default remove">
                <input type="radio" value="2" /> I am <strong>not</strong> interested
            </label>
            {% else %}
            <label class="btn btn-default add">
                <input type="radio" value="1" /> I am interested
            </label>
            <label class="btn btn-default active remove">
                <input type="radio" value="2" /> I am <strong>not</strong> interested
            </label>
            {% endif %}
        </div>
        <p>
            <a class="btn btn-success" href="/proposals/{{proposal.id}}/teach_class"><span class="glyphicon glyphicon-thumbs-up"></span> I'd like to teach this class</a>
        </p>

        <p><em style="white-space: pre-wrap;">{{ proposal.description }}</em></p>
        <dl>
            <dt>Proposed by:</dt>
            <dd>{{ proposal.proposer.display_name}}</dd>

            <dt>Proposed:</dt>
            <dd>{{ proposal.created | datetime }}</dd>

            <!--<dt>Proposed to school:</dt>
        <dd>{{ list_schools(proposal.schools) }}</dd>-->

            <dt>Updated:</dt>
            <dd>{{ proposal.updated | datetime }}</dd>

            <!--<dt>Tags:</dt>-->
            {# % if proposal.tags|length == 0 % #}
            <!--<dd>None</dd>-->
            {# % endif % #}
            <!--<dd>{{ proposal.tags | join(', ') }}</dd>-->

            <dt>Number of interested users:</dt>
            <dd><span class="counter {{ proposal.id }}">{{ proposal.num_interested }}</span></dd>

            <dt>Interested users:</dt>
            <dd id="interested-users">
                {{ proposal.interested_users | join (', ')}}
                {% if proposal.interested_users | length == 0 %}
                None
                {% endif %}
            </dd>         
            
            {% if not current_user.is_admin() %}
            <dt>Possible teachers:</dt>
            <dd>
                {% for teacher in proposal.teachers %}
                    {% if loop.index == proposal.teachers|length %}
                        {{  teacher.display_name }}
                    {% else %}
                        {{  teacher.display_name + ', '}}
                    {% endif %}
                {% endfor %}
            </dd>
            {% endif %}   

            {% if current_user.is_admin() %}
            <dt>Possible teachers with email: <span class="label label-primary">Admin Only</span></dt>
            <dd>
                {% for teacher in proposal.teachers %}
                    {% if loop.index == proposal.teachers|length %}
                        {{  teacher.display_name + ' (' + teacher.email + ')' }}
                    {% else %}
                        {{  teacher.display_name + ' (' + teacher.email + ')' + ', ' }}
                    {% endif %}
                {% endfor %}
            </dd>

            <dt>Registered user availability: <span class="label label-primary">Admin Only</span></dt>
            <dd>
                {% set count_wdm = [] %}
                {% set count_wdn = [] %}
                {% set count_wkm = [] %}
                {% set count_wkn = [] %}
                {% for interested in proposal.interested %}
                {% if interested.user.available_weekday_morning == True %}
                {% if count_wdm.append('1') %}{% endif %}
                {% endif %}

                {% if interested.user.available_weekday_night == True %}
                {% if count_wdn.append('1') %}{% endif %}
                {% endif %}

                {% if interested.user.available_weekend_morning == True %}
                {% if count_wkm.append('1') %}{% endif %}
                {% endif %}

                {% if interested.user.available_weekend_night == True %}
                {% if count_wkn.append('1') %}{% endif %}
                {% endif %}
                {% endfor %}
                Weekday Morning ({{count_wdm|length}}), Weekday Night ({{count_wdn|length}}), Weekend Morning ({{count_wkm|length}}), Weekend Night ({{count_wkn|length}})
            </dd>

            <dt>Registered user emails: <span class="label label-primary">Admin Only</span></dt>
            <dd>                                
                {% for i in proposal.interested %}
                    {% if loop.index == proposal.interested|length %}
                        {{  i.user.email }}
                    {% else %}                
                        {{  i.user.email + ', ' }}
                    {% endif %}                
                {% endfor %}
                
            </dd>  

            <dt>Anonymous user emails: <span class="label label-primary">Admin Only</span></dt>
            <dd>
                {{ proposal.anon_emails | join (', ')}}
            </dd>  

  
            {% endif %}



            <!--<dt>When:</dt>
            <dd>{{ show_stage(proposal) }}</dd>-->
        </dl>
    </div>	

    {% if current_user.is_admin() or current_user.id == proposal.proposer.id%}
    <div style="margin-bottom: 10px;">
        <a class="btn btn-primary" href="{{ url_for('proposals.edit', id=proposal.id) }}" style="margin-right: 10px;"><span class="glyphicon glyphicon-edit"></span> Edit Proposal</a>
        {% if current_user.is_admin() %}
        <a class="btn btn-success" href="{{ url_for('proposals.organize', id=proposal.id) }}" style="margin-right: 10px;"><span class="glyphicon glyphicon-thumbs-up"></span> Organize Proposal</a>
        <a class="btn btn-danger" id="delete-proposal" data-toggle="modal" data-target="#confirm-delete" style="margin-right: 10px;"><span class="glyphicon glyphicon-trash"></span> Delete Proposal</a>
        {% endif %}
    </div>
    {% endif %}
		
    </div>
  

<div class="col-md-6">
    <h2 style="display:inline-block">Discussions</h2>
    <a class="btn btn-success glyphicon glyphicon-plus" href="{{ url_for('proposals.create_discussion', id=proposal.id) }}" style="display:inline-block;margin-bottom:10px"></a>
    {{ discussions_list(discussions, proposal.id) }}
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Proposal</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this proposal?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button id="confirm-delete-proposal" class="btn btn-danger btn-ok">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="anon-interested" tabindex="-1" role="dialog" aria-labelledby="anon_myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you interested in this proposal?</h4>
            </div>
            <div class="modal-body">
                <p>
                    Would you like to show your interest in this proposal? By showing your interest, it helps us decide which proposals to facilitate into a class.
                    If you already have an account, please sign in. Otherwise, you can create an account.

                </p>
                <div style="margin-bottom:10px">
                    <a class="btn btn-primary" href="/login?next={{ current_url }}"><span class="glyphicon glyphicon-log-in"></span> Sign in</a>
                    <a class="btn btn-primary" href="/users/create?=next={{ current_url }}"><span class="glyphicon glyphicon-chevron-up"></span> Sign up</a>
                </div>
                <p>
                    If you don't have to deal with the hassle with creating an account, you can just give us your email address and we'll contact you if there's enough interest.
                </p>
                <div style="margin-bottom:10px">
                    <div id="anon-email-validation-alert" class="alert alert-danger hide">
                        <a class="alert-close close pull-right" title="Close">&times;</a>
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        Please enter a valid email address.
                    </div>
                    <label>
                        Email Address:
                    </label>                    
                    <input id="anon-email" />               
                    <br />                    
                </div>
                <button id="anon-contact-me" type="button" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> Contact me!</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{# add page-specific javascript #}
{% block extra_js %}
<script>    
    $(document).ready(function () {

        // Attach event to handle the closing of alerts
        $('body').on('click', '.alert-close', function () {
            var parent = $(this).parent();
            if (!parent.hasClass('hide')) {
                parent.addClass('hide');
            }
        });

        // Attach event to handle toggle between interested and not interested
        $('.interested-status').on('click', '.add, .remove', function () {
            if ("{{ current_user.is_anonymous() }}" === "True") {
                $('#anon-interested').modal('show');

                return;
            }

            var action = $(this).attr('class').indexOf('add') > -1 ? 'add' : 'remove';
            var parent = $(this).parent();
            var id = parent.attr('obj-id');
            var type = parent.attr('obj-type');
            var counter = parent.find('.counter');
            var url = INTEREST_POST_URL.replace('/type', '/' + type).replace('/id', '/' + id);
            var post_data = { action: action, attribute: null };

            $.ajax({
                type: 'POST',
                url: url,
                data: post_data,
                dataType: 'json'
            })
            .always(function () {
                // Hide all alerts after the ajax request is finished
                hideProposalDetailAlerts();
            })
            .success(function (data) {
                // Counter within the interested widget
                counter.text(data.num_interested);

                // Update all number interested counters
                $('.counter.' + id).text(data.num_interested);

                // Update interested users list           
                var appendUsers = "";
                for (var i = 0; i < data.interested_users.length; i++) {
                    appendUsers += data.interested_users[i] + ', ';
                }
                appendUsers = appendUsers.substring(0, appendUsers.length - 2);
                
                $('#interested-users').html(appendUsers);

                if (data.interested_users.length === 0) {
                    $('#interested-users').html('None');
                }

                // Display appropriate message
                if (action === 'add') {
                    $('.alert-success.proposal-detail-alert').removeClass('hide');
                }
                else {
                    $('.alert-warning.proposal-detail-alert').removeClass('hide');
                }
            })
            .error(function (jqXHR, textStatus, errorThrown) {
                // Check is the user is anonymous and that the status code is appropriate
                var isUserAnonymous = $('#proposal-detail-div').attr('data-user-unknown');
                if (isUserAnonymous === 'True' && jqXHR.status === 200) {
                    // Send them to the login screen
                    window.location.href = INTEREST_LOGIN_URL.replace('id', id);
                }
                else {
                    // An error has occured
                    $('.alert-danger.proposal-detail-alert').removeClass('hide');
                }
            });
        });

        var hideProposalDetailAlerts = function () {
            $('.proposal-detail-alert').each(function () {
                if (!$(this).hasClass('hide')) {
                    $(this).addClass('hide');
                }
            });
        };

        $('#confirm-delete').on('click', '#confirm-delete-proposal', function () {
            // Request delete
            $.ajax({
                url: '/proposals/{{proposal.id}}/delete',
                type: 'DELETE',
                success: function () {
                    // Redirect to proposals
                    window.location.href = '/proposals';
                }
            });
        });
       
        $('#anon-interested').on('click', '#anon-contact-me', function () {

            // This should only be a temporary solution (due to time constraints)
            // Do actual validation on the server
            // http://stackoverflow.com/a/9204568/5573838
            var validateEmail = function(email) {
                var re = /\S+@\S+\.\S+/;
                return re.test(email);
            }
            
            var anonEmail = $('#anon-email').val();

            if (validateEmail(anonEmail)) {
                $.ajax({
                    type: 'POST',
                    url: '{{ proposal.id }}/add_anon_email/' + anonEmail,
                    dataType: 'json'
                })
                .success(function () {
                    $('#anon-email-success-alert').html(
                        '<a class="alert-close close pull-right" title="Close">&times;</a>' +
                        '<span class="glyphicon glyphicon-ok"></span>' +
                        ' The email "' + anonEmail + '" will be contacted if enough interest is generated for this proposal.');
                    $('#anon-email-success-alert').removeClass('hide');
                    $('#anon-interested').modal('hide');
                });
            }
            else {
                $('#anon-email-validation-alert').removeClass('hide');
            }
        });



    });
</script>
{% endblock %}