{% from "proposal/_macros.html" import proposals_list, interested_check with context %}

{% set page_title = "Proposals" %}

{% extends "layouts/base.html" %}

{% block body_classes %}proposal{% endblock %}


{% block secondary %}

{% endblock %}


{% block body %}

<div class="well round-borders">
	<h2>Proposals</h2>
    <form action="{{ url_for('proposals.search') }}" method="get">
        <div class="form-group inner-addon left-addon">
            <span class="glyphicon glyphicon-search"></span>
            <input type="text" name="query" class="form-control">
        </div>
    </form>
    {% if query is defined %}
    <div style="margin-bottom: 10px">
        <p>You searched for: <em>{{ query }}</em></p>
        <a href="/proposals" >Clear Search</a>
    </div>
    {% endif %}
	{{ proposals_list(proposals) }}
</div>
{% endblock %}

{# add page-specific javascript #}
{% block extra_js %}
<script>
    $(document).ready(function () {
        // Attach event to handle checkmark click events
        $('.list-group').on('click', '.add, .remove', function () {
            var action = $(this).attr('class').indexOf('add') > -1 ? 'add' : 'remove';
            var parent = $(this).parent();
            var id = parent.attr('obj-id');
            var type = parent.attr('obj-type');
            var counter = parent.find('.counter');
            var url = INTEREST_POST_URL.replace('/type', '/' + type).replace('/id', '/' + id);
            var post_data = { action: action, attribute: null };
            var that = $(this);

            $.ajax({
                type: 'POST',
                url: url,
                data: post_data,
                dataType: 'json'
            })
           .success(function (data) {
               if (action === 'add') {
                   that.removeClass('add');
                   that.addClass('remove');
               }
               else {
                   that.addClass('add');
                   that.removeClass('remove');
               }

           });
        });
    });
</script>
{% endblock %}