{% from "macros/_form.html" import render_form %}

{% set page_title = "Make a proposal" %}

{% extends "layouts/base.html" %}

{% block body_classes %}{% endblock %}

{% block body %}
<div class="well round-borders">
    <h2>Propose a class</h2>
    {{ render_form(url_for('proposals.make'), form)}}
</div>
{% endblock %}

{# extra JS and CSS for the datepicker #}
{% block css_style %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block extra_js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
	    $('#tags').select2({
		    tags: true
	    });
	    var parent = $('#description').parent();
	    $('#description').remove();
	    parent.prepend("<textarea class=\"form-control\" id=\"description\" name=\"description\" rows=\"4\"></textarea><span class=\"help-inline\"></span>");
    });
</script>    
{% endblock %}