{% from "macros/_form.html" import render_form %}

{% set page_title = "Organize proposal" %}

{% extends "layouts/base.html" %}

{% block body_classes %}{% endblock %}

{% block body %}
<div>
    <h2>Organize Proposal</h2>
    <div>
        {{ render_form(request.path, form)}}
    </div>
</div>
{% endblock %}

{% block css_style %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<style type="text/css">
    .form-group {
        position: relative;
    }
</style>
{% endblock %}

{% block extra_js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/bootstrap-datetimepicker.min.js') }}"></script>
<script>
$(function () {
	$('#start').datetimepicker({
		'sideBySide':true,
		'format':'lll',
		'extraFormats': [ 'YYYY-MM-DD HH:mm:ss' ]
	});
	$('#end').datetimepicker({
		'sideBySide':true,
		'format':'lll',
		'extraFormats': [ 'YYYY-MM-DD HH:mm:ss' ]
	});

    // Fix for IE Bug: Select box is all blank! 
	$('#places > option').each(function () {
	    var placeID = $(this).val();
	    var that = $(this);

	    $.ajax({
	        url: '/events/places/' + placeID,
	        type: 'GET',
	        success: function (data) {
	            that.text(data);
	        }
	    });
	});

    // Sort options alphabetically: http://stackoverflow.com/a/26232541/5573838
	var sel = $('#places');
	var opts_list = sel.find('option');
	opts_list.sort(function (a, b) { return $(a).text() > $(b).text() ? 1 : -1; });
	sel.html('').append(opts_list);

    // Remove attribute multiple to prevent the user from picking more than one place
	$('#places').removeAttr('multiple');

    // Convert description to textarea to make it appear bigger
	var parent = $('#description').parent();
	$('#description').remove();
	parent.prepend("<textarea class=\"form-control\" id=\"description\" name=\"description\" rows=\"4\"></textarea><span class=\"help-inline\"></span>");

    // Set title and description of class to be the same as the proposal. The user may change it if they want to.
	$('#title').val("{{ proposal_title | escapejs }}");
	$('#description').val("{{ proposal_description | escapejs }}");

    // Changes a label from "Teacher" to "Teacher / Convener". Should be done on the back end where the form comes in, but time constraints are tight.
	$('[for="teacher"]').text("Teacher / Convener");

	//$('#places').select2({
	//	tags: true
	//});
	//$('#tags').select2({
	//    tags: true
	//});
});
</script>
{% endblock %}