{% from "macros/_form.html" import render_form %}

{% set page_title = "Comment on {{ title }}" %}

{% extends "layouts/base.html" %}

{% block body_classes %}{% endblock %}

{% block body %}
<div class="well round-borders">
    <h2>Comment on {{ title }}</h2>
    <div>
        {{ render_form(url_for('discussions.add_comment', id=discussion.id), form)}}
    </div>
</div>
{% endblock %}

{# extra JS and CSS for the datepicker #}
{% block css_style %}
{% endblock %}

{% block extra_js %}   
{% endblock %}