
{% set page_title = discussion.title %}

{% extends "layouts/base.html" %}

{% block body_classes %}discussion{% endblock %}

{% block body %}
<div>
    <div>
        <h2 style="display:inline-block;">{{ discussion.title }}</h2>
        <a class="btn btn-primary" style="display:inline-block;margin-bottom:10px" href="/proposals/{{proposal_id}}"><span class="glyphicon glyphicon-arrow-left"></span> Back to Proposal</a>
    </div>
    
    <dl>

        <dt>Created:</dt>
        <dd>{{ discussion.created | datetime }}</dd>

        <dt>Last comment time:</dt>
        <dd>{{ discussion.last_comment_time | datetime }}</dd>

        
        
        <dt>
            <span style="display:inline-block">Comments: </span>
            <a style="display:inline-block" class="btn btn-sm btn-success glyphicon glyphicon-plus" href="{{ url_for('discussions.add_comment', discussion_id=discussion.id, proposal_id=proposal_id) }}"></a>
        </dt>
        <dd>
            {% if comments %}
            {% for comment in comments %}
                <p style="margin-bottom:0px;display:inline-block">{{ comment.creator.display_name }} commented on {{ comment.created | datetime }}</p>
                {% if current_user.id==comment.creator.id or current_user.is_admin()%}
                    <a style="display:inline-block;margin-right:8px" class="btn btn-sm btn-primary" href="{{ url_for('discussions.edit_comment', discussion_id=discussion.id, comment_id=comment.id, proposal_id=proposal_id) }}"><span class="glyphicon glyphicon-edit"></span> Edit Comment</a>
                    {% if not comment.is_deleted %}
                        <a style="display:inline-block" class="btn btn-sm btn-danger" href="{{ url_for('discussions.delete_comment', discussion_id=discussion.id, comment_id=comment.id, proposal_id=proposal_id) }}"><span class="glyphicon glyphicon-trash"></span> Delete Comment</a>
                    {% endif %}
                {% endif %}
                <div style="margin-left:20px">
                    {% if not comment.is_deleted %}
                        <p>{{ comment.text }}</p>
                    {% else %}
                        <p><em>This comment has been deleted.</em></p>
                    {% endif %}
                </div>
            {% endfor %}
            {% endif %}
        </dd>
        
    </dl>
</div>	

<div class="json-hide">
    <h3>Discussion JSON</h3>
    <pre>{{ discussion | tojson }}</pre>

    <h3>Comment JSON</h3>
<pre>{{ comments | tojson }}</pre>
</div>

{% endblock %}