
{% macro events_list_item(event) %}

	<h3><a href="{{url_for('events.detail', id=event.id)}}">{{ event.title }}</a></h3>
    <h4>{{ event.start | datetime }}</h4>
	<p>{{event.description}}</p>
{% endmacro %}


{% macro events_list(events) %}

	{% for event in events %}
		{{ events_list_item(event) }}
	{% endfor %}

{% endmacro %}


{% macro places_list_item(place) %}
<li>
	{{ place.name }}
</li>
{% endmacro %}


{% macro places_list(places) %}
<ul>
	{% for place in places %}
		{{ places_list_item(place) }}
	{% endfor %}
</ul>
{% endmacro %}