{% from "school/_macros.html" import list_schools %}
{% from "proposal/_macros.html" import proposals_list with context%}

{% set page_title = event.title %}

{% extends "layouts/base.html" %}

{% block body_classes %}event{% endblock %}

{# setting variables for permissions #}
{% set can_edit = can_edit(event) %}

{% block body %}
	<h2>{{ event.title }}</h2>
    {% if can_edit %}
        <div style="margin-bottom: 10px;">
            <a href="{{ url_for('events.edit', id=event.id) }}">Edit Class</a>
        </div>
    {% endif %}

    <p><em>{{ event.short_description }}</em></p>
    <p><em>{{ event.description }}</em></p>
    <dl>
        <dt>Start:</dt>
        <dd>{{ event.start | datetime }}</dd>

        <dt>End:</dt>
        <dd>{{ event.end | datetime }}</dd>

        {% if event.places %}
        <dt>Location:</dt>
        <dd>
            <ul>
                {% for place in event.places %}
                <li>{{ place.name }}</li>
                {% endfor %}
            </ul>
        </dd>
        {% endif %}

        {% if event.proposals %}
        <dt>Proposal:</dt>
        <dd>{{ proposals_list(event.proposals) }}</dd>
        {% endif %}

        {% if other_events %}
        <dt>Other classes:</dt>
        <dd>
            {% for event in other_events %}
    <li>
        <a href="{{ url_for('events.detail', id=event.id) }}">{{ event.start | datetime }}</a>
        {% if event.title %}
        {{ event.title }}
        {% endif %}
    </li>
    {% endfor %}
    </dd>
    {% endif %}

    <dt>Created by:</dt>
    <dd>{{ event.creator.display_name }}</dd>

    <dt>Teacher:</dt>
    <dd>{{ event.teacher }}</dd>

    <dt>Organized by:</dt>
    <dd>{{ event.created | datetime }}</dd>

    <!--<dt>Happening at:</dt>
    <dd>{{ list_schools(event.schools) }}</dd>-->

    <dt>Updated:</dt>
    <dd>{{ event.updated | datetime }}</dd>

    </dl>
    {% endblock %}
