{% from "school/_macros.html" import list_schools %}
{% from "event/_macros.html" import events_list with context%}

{% set page_title = event.title %}

{% extends "layouts/base.html" %}

{% block body_classes %}event{% endblock %}

{# setting variables for permissions #}
{% set can_edit = can_edit(event, current_user) %}

{% block body %}
<div class="alert alert-danger event-detail-alert hide">
    <a class="alert-close close pull-right" title="Close">&times;</a>
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    An error occured. Please contact the site administrator.
</div>

<div class="alert alert-warning event-detail-alert hide">
    <a class="alert-close close pull-right" title="Close">&times;</a>
    <span class="glyphicon glyphicon-warning-sign"></span>
    You have been removed from the list of attending users.
</div>

<div class="alert alert-success event-detail-alert hide">
    <a class="alert-close close pull-right" title="Close">&times;</a>
    <span class="glyphicon glyphicon-ok"></span>
    You have been added to the list of attending users.
</div>

<div>
    <h2>{{ event.title }}</h2>

    <div id="interested-toggle" class="btn-group interested-status" data-toggle="buttons" style="margin-bottom: 10px;" obj-id="{{ event.id }}" obj-type="event">
        {% if event.user_is_interested(current_user) %}
        <label class="btn btn-default active add">
            <input class="btn-default" type="radio" value="1" /> I am attending
        </label>
        <label class="btn btn-default remove">
            <input type="radio" value="2" /> I am <strong>not</strong> attending
        </label>
        {% else %}
        <label class="btn btn-default add">
            <input type="radio" value="1" /> I am attending
        </label>
        <label class="btn btn-default active remove">
            <input type="radio" value="2" /> I am <strong>not</strong> attending
        </label>
        {% endif %}
        {% if is_admin %}
        <a id="delete-proposal" data-toggle="modal" data-target="#confirm-delete" style="margin-right: 10px;">Delete Class</a>
        {% endif %}
    </div>


    <dl>
        <dt>Description:</dt>
        <dd><p><em>{{ event.description }}</em></p></dd>

        <dt>Start:</dt>
        <dd>{{ event.start | datetime }}</dd>

        <dt>End:</dt>
        <dd>{{ event.end | datetime }}</dd>

        <dt>Organized on:</dt>
        <dd>{{ event.created | datetime }}</dd>

        <dt>Location:</dt>
        {% if event.places|length == 0 %}
        <dd>Unknown</dd>
        {% endif %}
        <dd>{{ event.places | join(', ') }}</dd>

        <!--<dt>Created by:</dt>
        <dd>{{ event.creator.display_name }}</dd>-->

        <dt>Teacher / Convener:</dt>
        <dd>{{ event.teacher }}</dd>

        <dt>Number of attending users:</dt>
        <dd><span>{{ event.num_interested }}</span></dd>

        <dt>Attending users:</dt>
        <dd id="interested-users">
            {{ event.interested_users | join (', ')}}
            {% if event.interested_users | length == 0 %}
            None
            {% endif %}
        </dd>  

        {% if current_user.is_admin() %}
        <dt>Registered user emails: <span class="label label-primary">Admin Only</span></dt>
        <dd>
            {% for i in event.interested %}
                {% if loop.index == event.interested|length %}
                    {{  i.user.email }}
                {% else %}
                    {{  i.user.email + ', ' }}
                {% endif %}
            {% endfor %}
        </dd>
        {% endif %}

    	{% if g.all_schools.count()>1 %}
        <dt>Happening at:</dt>
        <dd>{{ list_schools(event.schools) }}</dd>
    	{% endif %}

        <!--<dt>Updated:</dt>
        <dd>{{ event.updated | datetime }}</dd>-->

    </dl>
</div>

{% if current_user.is_admin()%}
<div style="margin-bottom: 10px;">
    <a class="btn btn-primary" href="{{ url_for('events.edit', id=event.id) }}" style="margin-right: 10px;"><span class="glyphicon glyphicon-edit"></span> Edit Class</a>
    <a class="btn btn-danger" id="delete-event" data-toggle="modal" data-target="#confirm-delete" style="margin-right: 10px;"><span class="glyphicon glyphicon-trash"></span> Delete Class</a>
</div>
{% endif %}

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Class</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this class?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button id="confirm-delete-class" class="btn btn-danger btn-ok">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {

        // Attach event to handle the closing of alerts
        $('body').on('click', '.alert-close', function () {
            var parent = $(this).parent();
            if (!parent.hasClass('hide')) {
                parent.addClass('hide');
            }
        });

        // Attach event to handle toggle between interested and not interested
        $('.interested-status').on('click', '.add, .remove', function () {
            var action = $(this).attr('class').indexOf('add') > -1 ? 'add' : 'remove';
            var parent = $(this).parent();
            var id = parent.attr('obj-id');
            var type = parent.attr('obj-type');
            var counter = parent.find('.counter');
            var url = INTEREST_POST_URL.replace('/type', '/' + type).replace('/id', '/' + id);
            var post_data = { action: action, attribute: null };

            $.ajax({
                type: 'POST',
                url: url,
                data: post_data,
                dataType: 'json'
            })
            .always(function () {
                // Hide all alerts after the ajax request is finished
                hideEventDetailAlerts();
            })
            .success(function (data) {
                if (data.anon === true) {
                    window.location.href = '/login?interested_user=anon';
                    return;
                }

                // Counter within the interested widget
                counter.text(data.num_interested);

                // Update all number interested counters
                $('.counter.' + id).text(data.num_interested);

                // Update interested users list           
                var appendUsers = "";
                for (var i = 0; i < data.interested_users.length; i++) {
                    appendUsers += data.interested_users[i] + ', ';
                }
                appendUsers = appendUsers.substring(0, appendUsers.length - 2);                
                
                $('#interested-users').html(appendUsers);

                if (data.interested_users.length === 0) {
                    $('#interested-users').html('None');
                }

                // Display appropriate message
                if (action === 'add') {
                    $('.alert-success.event-detail-alert').removeClass('hide');
                }
                else {
                    $('.alert-warning.event-detail-alert').removeClass('hide');
                }
            })
            .error(function (jqXHR, textStatus, errorThrown) {
                // An error has occured
                $('.alert-danger.event-detail-alert').removeClass('hide');               
            });
        });

        var hideEventDetailAlerts = function () {
            $('.event-detail-alert').each(function () {
                if (!$(this).hasClass('hide')) {
                    $(this).addClass('hide');
                }
            });
        };

        $('#confirm-delete').on('click', '#confirm-delete-class', function () {
            // Request delete
            $.ajax({
                url: '/events/{{event.id}}/delete',
                type: 'DELETE',
                success: function () {
                    // Redirect to classes
                    window.location.href = '/events';
                }
            });
        });
    });
</script>
{% endblock %}
