{% from "school/_macros.html" import list_schools %}
{% from "proposal/_macros.html" import proposals_list with context%}

{% set page_title = event.title %}

{% extends "layouts/base.html" %}

{% block body_classes %}event{% endblock %}

{# setting variables for permissions #}
{% set can_edit = can_edit(event) %}

{% block body %}
<div>
    <h2>{{ event.title }}</h2>
    {% if can_edit or is_admin%}
    <div style="margin-bottom: 10px;">
        {% if can_edit %}
        <a class="btn btn-primary" href="{{ url_for('events.edit', id=event.id) }}" style="margin-right: 10px;">Edit Class</a>
        {% endif %}

        {% if is_admin %}
        <a class="btn btn-danger" id="delete-proposal" data-toggle="modal" data-target="#confirm-delete" style="margin-right: 10px;">Delete Class</a>      
        {% endif %}
    </div>
    {% endif %}

                
    <dl>
        <dt>Description:</dt>
        <dd><p><em>{{ event.description }}</em></p></dd>

        <dt>Start:</dt>
        <dd>{{ event.start | datetime }}</dd>

        <dt>End:</dt>
        <dd>{{ event.end | datetime }}</dd>

        <dt>Location:</dt>
        {% if event.places|length == 0 %}
        <dd>Unknown</dd>
        {% endif %}
        <dd>{{ event.places | join(', ') }}</dd>

        <dt>Created by:</dt>
        <dd>{{ event.creator.display_name }}</dd>

        <dt>Teacher:</dt>
        <dd>{{ event.teacher }}</dd>

        <dt>Organized on:</dt>
        <dd>{{ event.created | datetime }}</dd>

        <!--<dt>Happening at:</dt>
        <dd>{{ list_schools(event.schools) }}</dd>-->

        <dt>Updated:</dt>
        <dd>{{ event.updated | datetime }}</dd>

    </dl>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Class</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this class?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button id="confirm-delete-class" class="btn btn-danger btn-ok">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        $('#confirm-delete').on('click', '#confirm-delete-class', function () {
            // Request delete
            $.ajax({
                url: '/events/{{event.id}}/delete',
                type: 'DELETE',
                success: function () {
                    // Redirect to classes
                    window.location.href = '/events';
                }
            });
        });
    });
</script>
{% endblock %}