/* body classes */
body {
	font-family: 'Verdana', sans-serif;
}

/*body.proposal {
	background-color: #EFFFFF;
}

body.event {
	background-color: #FFEFFF;
}

body.collection {
	background-color: #FFFFEF;
}*/

/* navbar */
.navbar {
	font-family: 'Open Sans', sans-serif;
}
.navbar-brand {
	font-weight: 800;
}

/* interested button */
.interested .add.button,
.interested .remove.button {
	cursor: pointer;
}
.interested-counter div {
	display: inline-block;
	padding-left: 10px;
}
.interested-counter .counter {
	font-size: 1.5em;
}
.interested-counter .add,
.interested-counter .remove {
	color: #CCC;
}
.interested-counter .add.button,
.interested-counter .remove.button {
	cursor: pointer;
	color: blue;
}
.interested-counter .add.button::after,
.interested-counter .remove.button::after {
	content: '!';
}

.interested-checker .add,
.interested-checker .remove,
.interested-checker .counter {
	display: none;
}
.interested-checker .add.button {
	display: block;
	opacity: 0.25;
}
.interested-checker .remove.button {
	display: block;
	opacity: 1;
}
.interested-checker .button:hover {
	opacity: 0.5;
}

/* icons inside text input form elements */
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.second-nav-margin-fix {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 15px;
}

.hide {
    display: none;
}

.json-hide {
    display: none;
}

dd {
    margin-left: 20px;
    margin-bottom: 10px;
}