{% macro interested_counter(obj, type='proposal') %}
<div class="interested interested-counter" obj-id="{{ obj.id }}" obj-type="{{ type }}">
    <!-- Commenting this out for now. Do we need to display the number interested when it's already in the page information?-->
	<!--<div class="counter">{{obj.num_interested}}</div>-->
	{% if obj.user_is_interested(current_user) %}    
    <div class="add" style="padding-left: 0px; margin-bottom: 10px;">add me</div>
    <div class="remove button">remove me</div>
    {% else %}
    <div class="add button">add me</div>
    <div class="remove">remove me</div>
    {% endif %}
</div>
{% endmacro %}



{% macro interested_check(obj, type='proposal') %}
<div class="interested interested-checker interested-status col-md-1" obj-id="{{ obj.id }}" obj-type="{{ type }}" style="padding-left:0px; margin-top:15px">
	{% if obj.user_is_interested(current_user) %}	
    <span class="remove button glyphicon glyphicon-ok" style="font-size: 20px;"></span>
	{% else %}
	<span class="add button glyphicon glyphicon-ok" style="font-size: 20px;"></span>
	{% endif %}
</div>
{% endmacro %}