{% from "macros/_form.html" import render_form %}

{% set page_title = event.title or "Edit event" %}

{% extends "layouts/base.html" %}

{% block body_classes %}{% endblock %}

{% block body %}
<h2>Edit event</h2>
<div class="container">
    {{ render_form(request.url, form)}}
</div>
{% endblock %}

{# extra JS and CSS for the datepicker #}
{% block css_style %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<style type="text/css">
	.form-group {
		position: relative;
	}
</style>
{% endblock %}

{% block extra_js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/bootstrap-datetimepicker.min.js') }}"></script>
<script>
$(function () {
	$('#start').datetimepicker({
		'sideBySide':true,
		'format':'lll',
		'extraFormats': [ 'YYYY-MM-DD HH:mm:ss' ]
	});
	$('#end').datetimepicker({
		'sideBySide':true,
		'format':'lll',
		'extraFormats': [ 'YYYY-MM-DD HH:mm:ss' ]
	});
	$('#places').select2();
	$('#schools').select2();
});
</script>    
{% endblock %}